body {
  /* Путь до изображения */
  background-image: url(../img/bg.png);

  /* Фоновое изображение всегда отцентрировано по вертикали и горизонтали */
  background-position: center center;

  /* Фоновое изображение не повторяется */
  background-repeat: no-repeat;

  /* Фоновое изображение зафиксировано в окне просмотра, поэтому оно не смещается, когда высота контента больше высоты изображения */
  background-attachment: fixed;

  /* Вот что позволяет фоновому изображению подстраиваться под размер контейнера */
  background-size: cover;

  /* Устанавливает фоновый цвет, который будет отображаться, пока загружается фоновое изображение */
  background-color: #464646;
}
.testimonialText {
    color: #0000ff;
	font: 16px Tahoma, sans-serif;
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
