{% load static %}
<!Doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Погода за окном</title>
	<link rel="stylesheet" href="{% static 'css/styles.css'%}" type="text/css">
</head>
<body>
	<h1>Погода за окном</h1>
	<img class="w-50 mx-auto d-block" src="{% static 'img/logo.png' %}" alt="photo">
	<h1><strong>Температура (°С): </strong> {{ temperature|floatformat:2 }}</h1>
	<h1><strong>Давление (мм рт.ст.): </strong> {{ press|floatformat:2 }}</h1>
	<h1><strong>Влажность (%): </strong> {{ humidity|floatformat:2 }}</h1>
</body>
</html>
